<h1>My Tasks</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
  <li>
    <%= render "shared/checkbox", task: task %>
    <span id="task-title"><%= link_to task.title, task_path(task) %></span>
  </li>
  <% end %>
</ul>
